<form action="/profile/edit" method="POST" enctype="multipart/form-data">
  <label>Profile</label>
  <input type="file" name="photo">
  <br>        
  <input type="submit" value="SAVE">                            
</form>
<br>
<br>
<form action="/profile/edit" method="POST">
  <h3>Personal Info</h3>
  <label for="first-name">First Name</label>
  <input type="text" id="first-name" name="firstName" placeholder={{user.firstName}}>
  <br>
  <label for="last-name">Last Name</label>
  <input type="text" id="last-name" name="lastName" placeholder={{user.lastName}}>
  <br>
  <label for="age">Age</label>
  <input type="text" id="age" name="age" placeholder={{user.age}}>
  <br>
  <h3>Update Address</h3>
  <label for="street-address">Street</label>
  <input type="text" id="street-address" name="street" placeholder="{{user.address.street}}">
  <br>
  <label for="city-address">City</label>
  <input type="text" id="city-address" name="city" placeholder={{user.address.city}}>
  <br>
  <label for="state-address">State</label>
  <input type="text" id="state-address" name="state" placeholder={{user.address.state}}>
  <br>
  <label for="zip-address">Zip</label>
  <input type="text" id="zip-address" name="zip" placeholder={{user.address.zip}}>
  <br>
  <button type="submit" class="btn-sm-secondary">Update</button>
</form>