<!-- Header
    ================================================= -->
		<header id="header">
      <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">

          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="images/flow-logo.png" alt="flow-logo"></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right main-menu">
              <li class="header-button-profile"><a href="/profile">Michaela</a></li> <!-- replace with first name -->
              <li class="header-button"><a href="/logout">Log out</a></li>
            </ul>
            <form class="navbar-form navbar-right hidden-sm">
              
            </form>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
      </nav>
    </header>
    <!--Header End-->

<!-- Modal that opens when the page is rendered / commented out to test --> 
{{!-- <div class="modal fade" id="interestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body interest-modal-body">
        <h4 class="grey" class="modal-header"><i ></i>Pick Your Favorite News Topics</h4>
          <label>
            <input type="checkbox">
            &nbsp;&nbsp;&nbsp;Technology
          </label>
          <br>
          <label>
            <input type="checkbox">
            &nbsp;&nbsp;&nbsp;Science
          </label>
          <br>
          <label>
            <input type="checkbox">
            &nbsp;&nbsp;&nbsp;Money
          </label>
          <br>
          <label>
            <input type="checkbox">
            &nbsp;&nbsp;&nbsp;Politics
          </label>
          <br>
          <label>
            <input type="checkbox">
            &nbsp;&nbsp;&nbsp;Money
          </label>
          <br>
          <label>
            <input type="checkbox">
            &nbsp;&nbsp;&nbsp;Travel
          </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary-black" data-dismiss="modal">Maybe later</button>
        <button type="button" class="btn btn-primary">Show me my news</button>
      </div>
    </div>
  </div>
</div> --}}

<div id="page-contents">
    	<div class="container">
        <div class="row">
          <!-- Newsfeed Common Side Bar Left
          ================================================= -->
    			<div class="col-md-3 static">
            <ul class="nav-news-feed">
              <li><i class="icon ion-ios-people"></i><div><a href="/profile">Profile</a></div></li>
              <li><i class="icon ion-ios-people-outline"></i><div><a href="/timeline">Timeline</a></div></li>
              <li><i class="icon ion-ios-paper"></i><div><a href="/news">News</a></div></li>
              
            </ul><!--news-feed links ends-->
            <div id="chat-block">
              <!--chat online div was here -->
            </div><!--chat block ends-->
          </div>
    			<div class="col-md-9">
            <div class="row">
              <div class="col-md-7 col-sm-7">
                <div class="search-container">
                  <form action="news" method="GET">
                    <input type="text" name="news" class="form-control" placeholder="Search News">
                    <button type="submit" class="btn-primary">Search</button>                  
                  </form>
                </div>
              </div>
            </div>
            <!-- Post Content
            ================================================= -->
            {{#each feed}}
              {{#if this.image.url}}
              <div class="post-content">
                <div class="post-container">
                  <img src="{{this.image.thumbnail}}" alt="user" class="profile-photo-md pull-left" />
                  <div class="post-detail">
                    <div class="user-info">
                      <h5><a href="timeline.html" class="profile-link">{{this.provider.name}}</a></h5>
                      <p class="text-muted">Date: {{this.datePublished}}</p> <!-- when post was rendered -->
                    </div>
                    <div class="reaction">
                      <a class="anchor-link">Share</a>
                      <a class="btn text-green"><i class="icon ion-thumbsup"></i> 39</a>
                      <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 2</a>
                    </div>
                  </div>
                    <div class="line-divider"></div>
                  <div class="post-content">
                      <div class="row">
                        <div class="col-md-5 col-sm-5">
                          <img class="img-responsive" src="{{this.image.url}}"/>
                        </div>
                        <div class="col-md-7 col-sm-7">
                          <a class="profile-link" href={{this.url}} >{{{this.title}}}</a>
                          <br>
                          <br>
                          <p>
                            {{{this.body}}}
                          </p> <!-- NEED TO SHORTEN TEXT TO SHOW SNIPPET OF NEWS SO IT DOESN'T THROW OFF THE FORMAT -->
                        </div>
                      </div>
                  </div>
                  <div class="line-divider"></div>
                  <div class="post-detail no-margin">
                    <div class="post-comment">
                        <img src="../images/michaela.jpeg" alt="" class="profile-photo-sm" />
                        <input type="text" class="form-control" placeholder="Comment">
                        <button class="btn-primary post-comment-button">Post</button>
                    </div>
                    <div>
                        <div class="post-comment">
                          <img src="../images/gustavo.jpeg" alt="" class="profile-photo-sm" />
                          <p class="no-margin">
                            <a href="timeline.html" class="profile-link">Gustavo </a>
                            <i class="em em-laughing"></i> 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                          </p>
                        </div>
                        <div class="post-comment-action">
                          <a class="anchor-button">Reply</a>
                          <a class="anchor-button">Delete</a>
                          <a class="anchor-button">Edit</a>
                        </div>
                        <div class="post-comment-action">
                          <div class="post-comment">
                            <img src="../images/michaela.jpeg" alt="" class="profile-photo-sm" />
                            <input type="text" class="form-control" placeholder="Comment">
                            <button class="btn-primary post-comment-button">Post</button>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              {{/if}}
            {{/each}}
    		</div>
    	</div>
    </div>

    <!-- Footer
    ================================================= -->
    <footer id="footer">
      <div class="container">
      	<div class="row">
          <div class="footer-wrapper">
            <div class="col-md-3 col-sm-3">
              <a href=""><img src="images/flow-logo.png" alt="flow-logo" class="navbar-brand" /></a>
              
            </div>
            <div class="col-md-2 col-sm-2">
              <h6>Site Map</h6>
              <ul class="footer-links">
                <li><a href="">Timeline</a></li>
                <li><a href="">Profile</a></li>
                <li><a href="">News</a></li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-2">
             {{!-- empty div to maintain space --}}
            </div>
            <div class="col-md-2 col-sm-2">
              {{!-- empty div to maintain space --}}
            </div>
            <div class="col-md-3 col-sm-3">
                  <h6>Contact</h6>
                    <ul class="contact">
                      <li><i class="icon ion-ios-telephone-outline"></i>(305) 555-1234</li>
                      <li><i class="icon ion-ios-email-outline"></i>hello@flowsocial.com</li>
                      <li><i class="icon ion-ios-location-outline"></i>120 SW 8th St, Miami, FL 33130</li>
                    </ul>
            </div>
          </div>
      	</div>
      </div>
      <div class="copyright">
        <p>Copyright MERNers ® All Rights Reserved</p>
      </div>
		</footer>
    
    <!--preloader-->
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>
