<!DOCTYPE html>
<html lang="en">

    <!-- Header
    ================================================= -->
		<header id="header">
      <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">

          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="/images/flow-logo.png" alt="flow-logo"></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right main-menu">
              <li class="header-button-profile"><a href="/profile">Michaela</a></li> <!-- replace with first name -->
              <li class="header-button"><a href="/logout">Log out</a></li>
            </ul>
            <form class="navbar-form navbar-right hidden-sm">
              
            </form>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
      </nav>
    </header>
    <!--Header End-->

    <div class="container">

      <!-- Timeline
      ================================================= -->
      <div class="timeline">
        <div class="timeline-cover">

          <!--Timeline Menu for Large Screens-->
          <div class="timeline-nav-bar hidden-sm hidden-xs">
            <div class="row">
              <div class="col-md-3">
                <div class="profile-info">
                  <img src={{user.photo}} alt="" class="img-responsive profile-photo" />
                  <h3>{{user.firstName}} {{user.lastName}}</h3>
                  <p class="text-muted">{{user.address.city}}</p>

                </div>
              </div>
              <div class="col-md-9">
                <ul class="list-inline profile-menu">
                <li><a ></a></li>
                <li><a ></a></li>
                <li><a ></a></li>
              </div>
            </div>
          </div><!--Timeline Menu for Large Screens End-->

          <!--Timeline Menu for Small Screens-->
          <div class="navbar-mobile hidden-lg hidden-md">
            <div class="profile-info">
              <img src={{user.photo}} alt="" class="img-responsive profile-photo" />
              <h4>{{user.firstName}} {{user.lastName}}</h4>
            </div>
            <div class="mobile-menu">
              <ul class="list-inline">
                <li><a ></a></li>
                <li><a ></a></li>
                <li><a ></a></li>
              </ul>
            </div>
          </div><!--Timeline Menu for Small Screens End-->

        </div>
        <div id="page-contents">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-7">

              <!-- About
              ================================================= -->
              <div class="about-content-block">
              <div class="about-profile">
                  <form action="/profile/edit" method="post" enctype="multipart/form-data">
                    <div class="about-content-block">
                      <h4 class="grey">
                        <i class="ion-ios-information-outline ion-ios-camera"></i>
                        Profile Pictures
                      </h4> 
                      <label>Profile</label>
                      <label class="btn-upload">
                        <input type="file" name="photo">Upload
                      </label>
                      <br>
                      <label>Background</label>
                      <label class="btn-upload">
                        <input type="file" name="photo">Upload
                      </label>
                      <br>
                      <br>
                      <input type="submit" value="Save">
                        <br>
                        <br>
                    </div>
                    <div class="about-content-block">
                      <h4 class="grey"><i class="ion-ios-information-outline icon-in-title"></i>News Interests</h4>
                        <label>
                          <input type="checkbox">
                          &nbsp;&nbsp;&nbsp;Technology
                        </label>
                        <br>
                        <label>
                          <input type="checkbox">
                          &nbsp;&nbsp;&nbsp;Science
                        </label>
                        <br>
                        <label>
                          <input type="checkbox">
                          &nbsp;&nbsp;&nbsp;Money
                        </label>
                        <br>
                        <label>
                          <input type="checkbox">
                          &nbsp;&nbsp;&nbsp;Politics
                        </label>
                        <br>
                        <label>
                          <input type="checkbox">
                          &nbsp;&nbsp;&nbsp;Money
                        </label>
                        <br>
                        <label>
                          <input type="checkbox">
                          &nbsp;&nbsp;&nbsp;Travel
                        </label>
                        <br>
                      
                    </div>
                    <div class="about-content-block">
                      <h4 class="grey"><i class="ion-ios-circle-outline icon-in-title"></i>Your personal information</h4>
                      <div class="organization">
                          <fieldset class="form-group-main">
                            <input type="text" class="form-control" id="firstname" name="firstName" placeholder={{user.firstName}}>
                          </fieldset>
                          <fieldset class="form-group-main">
                            <input type="text" class="form-control" id="lastname" name="lastName" placeholder={{user.lastName}}>
                          </fieldset>
                          <fieldset class="form-group-age">
                            <input type="number" class="form-control" id="age" name="age" placeholder="{{user.age}}">
                          </fieldset>
                          {{!-- Add gender dropdown here              --}}
                      </div>
                    </div>
                    <div class="about-content-block">
                      <h4 class="grey"><i class="ion-ios-location-outline icon-in-title"></i>Where you live</h4>
                        <fieldset class="form-group-main">
                          <input type="text" class="form-control" id="addressStreet" name="street" placeholder={{user.address.street}}>
                        </fieldset>   
                        <fieldset class="form-group-city">
                          <input type="text" class="form-control" id="addressCity" name="city" placeholder={{user.address.city}}>
                        </fieldset>      
                        <fieldset class="form-group-address">
                          <input type="text" class="form-control" id="addressState" name="state" placeholder={{user.address.state}}>
                        </fieldset>   
                        <fieldset class="form-group-address">
                          <input type="text" class="form-control" id="addressZip" name="zip" placeholder={{user.address.zip}}>
                        </fieldset>                           
                    </div>
                </div>
                </form>
              </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer
    ================================================= -->
    <footer id="footer">
      <div class="container">
      	<div class="row">
          <div class="footer-wrapper">
            <div class="col-md-3 col-sm-3">
              <a href=""><img src="/images/flow-logo.png" alt="flow-logo" class="navbar-brand" /></a>
              
            </div>
            <div class="col-md-2 col-sm-2">
              <h6>Site Map</h6>
              <ul class="footer-links">
                <li><a href="">Timeline</a></li>
                <li><a href="">Profile</a></li>
                <li><a href="">News</a></li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-2">
             {{!-- empty div to maintain space --}}
            </div>
            <div class="col-md-2 col-sm-2">
              {{!-- empty div to maintain space --}}
            </div>
            <div class="col-md-3 col-sm-3">
                  <h6>Contact</h6>
                    <ul class="contact">
                      <li><i class="icon ion-ios-telephone-outline"></i>(305) 555-1234</li>
                      <li><i class="icon ion-ios-email-outline"></i>hello@flowsocial.com</li>
                      <li><i class="icon ion-ios-location-outline"></i>120 SW 8th St, Miami, FL 33130</li>
                    </ul>
            </div>
          </div>
      	</div>
      </div>
      <div class="copyright">
        <p>Copyright MERNers ® All Rights Reserved</p>
      </div>
		</footer>
    
    <!--preloader-->
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>

    <!-- Scripts
    ================================================= -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTMXfmDn0VlqWIyoOxK8997L-amWbUPiQ&callback=initMap"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.sticky-kit.min.js"></script>
    <script src="js/jquery.scrollbar.min.js"></script>
    <script src="js/script.js"></script>
    
</html>
